@tailwind base;
@tailwind components;
@tailwind utilities;

dialog{
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0,0.3);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

svg{
    display: unset !important;
}
